#field_27_27 {
  margin-right: auto;
  display: flex;
}

#field_27_27 {
  position: relative;
  flex: none;
}
#input_27_1 {
  margin-top: inherit;
  background-color: #f8f8f8;
}

#input_27_27 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.o_label:hover {
  filter: brightness(0.8);
}

o_label,
.o_label > * {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  transition: 0.3s;
}

.gform_wrapper.gravity-theme .gfield-choice-input {
  display: none;
  margin-top: 0;
  top: 0;
  vertical-align: middle;
}

.gfsp_choice_ornament {
  margin-bottom: 15%;
}
